*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
.vscode

# Kotlin 编译会话、Android 构建产物
.kotlin/
*.apk
*.aab
*.ap_
*.dex
*.class
*.hprof
*.log

.cursor
